<div class="container mt-5">
    <h2>TV Shows
    </h2>
    <div class="mb-3 mt-3">
        <%= form_tag(tv_shows_path, :method=> "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Shows" ,class:"form-control", required:
                true %>
                <%= submit_tag "Search" ,class:"btn btn-primaty btn-sm mt-3" %>
                    <%= link_to "Reset" , "/tv_shows" , class: "btn btn-secondary mt-3" %>
                        <% end %>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Channel</th>
                <th scope="col">Show</th>
                <th scope="col">Timing</th>
                <th scope="col">Add/ Remove Favourites</th>
            </tr>
        </thead>
        <tbody>
            <% if @tv_shows.present? %>
                <% @tv_shows.each_with_index do |show,index| %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= show.channel.name %>
                        </td>
                        <td>
                            <%= show.name %>
                        </td>
                        <td>
                            <%= show.start_time.strftime("%I:%M %p") + ' - ' + show.end_time.strftime("%I:%M %p") %>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" onclick="add_to_favourites('<%= show.id %>');">
                                Favourites</button>
                        </td>
                    </tr>
                    <% end %>
                        <% else %>
                            <tr>
                                <td colspan="4" class="text-center">No shows found</td>
                            </tr>
                            <% end %>
        </tbody>
    </table>
</div>
<script>
    jQuery(document).ready(function () {
    });
    function add_to_favourites(show_id) {
        var jsondata = { 'show_id': show_id };
        jQuery.ajax({
            type: "POST",
            crossDomain: true,
            data: JSON.stringify(jsondata),
            headers: {
                'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/tv_shows/add_to_favourites",
            success: function (data) {
                if (data.success == true) {
                    alert("Show added in favourites");
                } else if (data.success == false && data.message == 'login') {
                    window.location.href = "/users/sign_in"
                } else if (data.success == false && data.message == 'removed') {
                    alert("Show removed from favourites");
                } else if (data.success == false) {
                    alert("Please Try Again.");
                }
            },
        })
    }
</script>